.exp-item__start {
  font-size: @m-font-size;
  font-weight: 300;
  color: @action-color;

  padding: 0 0 42px;
  margin: 0;
  margin-bottom: 37px;

  text-align: center;

  position: relative;

  &::before {
    content: "";
    width: 13px;
    height: 13px;
    background-color: @action-color;
    border: solid 5px #ffe5e5;
    border-radius: 50%;
    bottom: 0;
    left: 48%;

    position: absolute;
  }
}

.exp-item__title {
  font-size: @subtitle-font-size;
  color: @primary-color;

  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  text-align: center;
}

.exp-item__desc {
  color: @primary-color;

  padding: 0;
  margin: 0;
  margin-bottom: 53px;

  text-align: center;
}

.exp-item__finish {
  font-size: @m-font-size;
  font-weight: 300;
  color: @action-color;
  text-align: center;

  padding: 42px 0 0;
  margin: 0;

  position: relative;


  &::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: @action-color;
    border: solid 5px #ffe5e5;
    border-radius: 50%;
    top: 0;
    left: 47%;

    position: absolute;
  }
}

.exp-item-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  &--first {
    width: 290px;
    height: 273px;
  }

  &--second {
    width: 291px;
    height: 243px;
  }

  &--third {
    width: 320px;
    height: 333px;
  }

  &--fourth {
    width: 294px;
    height: 241px;
  }
}

.exp-item-desc {
  &--padding {
    margin-bottom: 106px;
  }
}



@media(min-width: 750px) {
  .exp-item {
    display: flex;
    align-items: center;

    margin-bottom: 0;

    &--right {
      align-self: flex-end;
    }

    &--left {
      align-self: flex-start;
    }
  }

  .exp-item__inner-text {
  display: flex;
  flex-direction: column;
  }

  .exp-item__start {
    position: absolute;

    top: 0;
    right: 10%;

    padding: 0 0 45px 600px;
    margin: 0;

    &::before {
      bottom: 0;
      left: 94%;
    }
  }
  .exp-item__desc {
    text-align: left;
    margin: 0;
  }

  .exp-item-img {
    margin-right: 29px;
    margin-bottom: 0;

    &--second {
      order: 1;
    }

    &--fourth {
      order: 1;
    }
  }

  .exp-item__inner-text {
    width: 300px;
  }

  .exp-item__title {
    text-align: left;
  }

  .exp-item__finish {
    position: absolute;

    bottom: 0;
    right: 0;

    padding: 42px 460px 0 0;
    margin: 0;

    &::after {
      top: 0;
      left: 4%;
    }
  }
}



@media(min-width: 1170px) {
  .exp-item-img {
    margin-bottom: 0;

    &--second {
      order: 0;
    }
  }

  .exp-item__finish {
    position: absolute;

    bottom: 10%;
    right: 26%;

    padding: 42px 500px 0 0;
    margin: 0;

    &::after {
      top: 0;
      left: 4%;
    }
  }
}
