.reviews {
  padding-top: 80px;
  padding-bottom: 50px;
}

.reviews__title {
  padding: 20px 0;
  margin: 0 0 49px;

  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
  color: @action-color;
  text-transform: uppercase;
  text-align: center;

  background-image: url(../img/reviews-bg-text.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.reviews__video-wrapper {
  position: relative;

  width: 100%;
  padding-top: 50%;
}

.reviews__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
}

.reviews__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  // display: block;
  margin-bottom: 100px;
  width: 292px;
  // height: 164px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__photo {
  width: 117px;
  height: 156px;
  margin-bottom: 32px;
}

.reviews__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__name {
  padding: 0;
  margin: 0 0 20px 0;

  font-size: @subtitle-font-size;
  color: @primary-color;
  text-align: center;
}

.reviews__desc {
  text-align: center;
  margin-top: 0;
}

.reviews__full-text {
  position: relative;

  padding-right: 20px;

  color: @primary-color;
  text-align: center;

  border-bottom: 2px dashed @primary-color;


  &::after {
    position: absolute;
    bottom: 50%;
    right: 0;

    display: block;
    width: 4px;
    height: 4px;

    content: "";
    border-top: 2px solid @primary-color;
    border-right: 2px solid @primary-color;

    transform: rotate(135deg) translateY(-50%);
}
}


@media(min-width: 750px) {
  .reviews {
    background-image: url(../img/reviews-video-bbg.jpg);
    background-position: center -350px;
    background-repeat: no-repeat;
  }

  .reviews__bg-video {
    width: 723px;
    height: 407px;
    margin-bottom: 0;
  }

  .reviews__title {
    font-size: 42px;
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    padding-top: 140px;
    padding-left: 40px;
    padding-bottom: 188px;
    padding-right: 40px;
    margin: 0 auto;

    background-image: url(../img/reviews-video-bg-text-750.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .reviews__photo {
    width: 145px;
    height: 193px;
    margin: 0 26px 0 0;
  }

  .reviews__wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .reviews__name {
    text-align: left;
  }

  .reviews__desc {
    width: 450px;

    text-align: left;
  }
}


@media(min-width: 1170px) {
  .reviews {
    padding-bottom: 30px;
  }

  .reviews__bg-video {
    width: 1142px;
    height: 642px;
  }

  .reviews__photo {
    width: 199px;
    height: 265px;
    margin: 0 49px 0 0;
  }

  .reviews__wrapper {
    max-width: 1100px;

    background-image: url(../img/reviews-video-bg-text-1070.png);
    background-position: center 0;
  }

  .reviews__desc {
    width: 703px;

    text-align: left;
  }
}
